*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}
body{
    background-color: #FFFFFF;
}
header{
    display: flex;
    justify-content: space-around;
    height: 91px;
    /* border: 1px solid red; */
    align-items: center;
}
header nav a{
    margin: 0 32px;
    text-decoration: none;
    color: black;
    font-size: 16px;
    border-bottom: 2px solid transparent;
}
header nav a:hover{
    color: #30B868;
    border-bottom: 2px solid #30B868;
}
.btn{
    background-color: #30B868;
    padding: 16px 12px;
    border: none;
    color: white;
    border-radius: 4px;
    letter-spacing: .3px;
    font-weight: 500;
    direction: 0.3s ease;
}
.btn:hover{
    box-shadow: 0 0 20px seagreen;
    font-weight: bolder;
}
.hero{
    height: 674px;
    background-image: url(./images/hero-bg.png);
    background-position: center;
    background-size: cover;
    align-items: center;
}
.hero .hero-container{
    text-align: center;
    height: 379px;
    max-width: 1360px;
    padding: 120px 135px;
}
.hero-container h1{
    font-size: 50px;
    color: #FFFFFF;
    margin-top: 16px;
}
.hero-container span{
    color: #30B868;
}
.early-badge{
    display: inline-flex;
    align-items: center;
    padding: 5px 0px 5px 15px;
    font-size: 14px;
    font-weight: 500;
    gap: 6px;
    background-color: #FFFFFF;
    border-radius: 50px;
    font-size: 14px;
    margin-bottom: 5px;
    color: #30B868;
    width: 200px;
    margin: 0 auto;
}
 .early-badge .dot {
   width: 8px;
   height: 8px;
   background-color: #289256;
   display: inline-block;
   border-radius: 50%;
   box-shadow: 0 0 50px #289256, 0 0 25px#30B868;
}
.hero-container .hero-p{
    color: #FFFFFF;
    line-height: 24px;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    margin-top: 16px;
}
.hero-btn {
    align-items: center;
    margin-top: 36px;
    gap: 16px;
}
.hero-btn .btn2{
    background-color: transparent;
    padding: 14px 12px;
    border-radius: 4px;
    letter-spacing: .3px;
    font-weight: 500;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    margin: 16px;
}
.hero-btn .btn2:hover{
    border: 3px solid #FFFFFF;
    font-weight: 600;
    box-shadow: 0 0 8px #FFFFFF;
}
.notes{
    padding: 80px 20px;
    align-items: center;
}
.notes .notes-container{
    margin: 0 120px;
    align-items: center;
    text-align: center;
}
.notes-heading h1{
    font-size: 48px;
    color: #001931;
    margin-bottom: 16px;
}
.notes-heading p{
    font-size: 16px;
    color: #627382;
    font-family: "Inter", sans-serif;
}
.notes-container .notes-cardbox{
    display: flex;
    justify-content: space-around;
    gap: 24px;
    margin-top: 44px;
}
.notes-cardbox .card{
    display: flex;
    padding: 80px 20px;
    align-items: center;
}
.notes .notes-container{
    margin: 0 120px;
    align-items: center;
    text-align: center;
}
.notes-container .notes-heading h1{
    font-size: 48px;
    color: #001931;
    margin-bottom: 16px;
}
.notes-heading p{
    font-size: 16px;
    color: #627382;
    font-family: "Inter", sans-serif;
}
.notes-container .notes-cardbox{
    display: flex;
    justify-content: space-between;
    gap: 24px;
    margin-top: 44px;
}
.notes-cardbox .card{
    align-items: center;
    border-radius: 8px;
    background-color: rgb(247, 247, 247);
    padding: 20px 5px 0px 5px;
    height: 300px;
    width: 325px;
}
.notes-cardbox .card:hover{
    box-shadow: 0 0 5px#F95555;
}
.card img{
    background-color: #F95555;
    height: 60px;
    width: 60px;
    padding: 18px;
    border-radius: 50%;
    margin-bottom: 16px;
}
.card p{
    font-size: 16px;
    color: #627382;
    margin-top: 17px;
    line-height: 20px;
}
.notes-cardbox .card{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 8px;
    background-color: rgb(247, 247, 247);
    padding: 40px 20px;
    height: auto;
    width: 100%;
    box-sizing: border-box;
}
.notes-cardbox .card:hover{
    box-shadow: 0 0 5px#F95555;
}
.card img{
    background-color: #F95555;
    height: 60px;
    width: 60px;
    padding: 18px;
    border-radius: 50%;
    margin-bottom: 10px;
}
.card .card-h2{
    height: 29px;
    width: auto;
    font-size: 18px;
    margin: 16px 0 9px 0;
    color: #001931;
    
}
.card p{
    font-size: 15px;
    color: #627382;
    margin-top: 16px;
    padding: 0;
    line-height: 20px;
}
.solution {
    align-items: center;
}
 .solution .solution-container{
    display: flex;
    justify-content: space-between;
    margin: 120px;
    gap: 60px;
 }
 .solution-container .solution-info{
    text-align: left;
    padding: 102px 0;
 }
 .solution-info .green{
    color: #30B868;
    font-size: 16px;
    margin-bottom: 16px;
 }
 .solution-info h1{
    font-size: 48px;
    color: #001931;
    margin-bottom: 16px;
 }
  .solution-info .grey{
    color: #627382;
    font-size: 16px;
    margin-bottom: 40px;
 }
  .solution-info ul li{
    list-style: none;
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 8px;
  }
  .solution-info ul li img{
    height: 20px;
    width: 20px;
    margin-right: 5px;
  }
  .ready .ready-container{
    margin: 0 120px 120px;
    align-items: center;
    background-color: #F7F6F2;
  }
  .ready-container .ready-content{
    text-align: center;
    /* border because if i don't, it ruined by the curse */
    border: 1px solid transparent;
  }
  .ready-content h1{
    font-size: 40px;
    color: #001931;
    margin-top: 80px;
  }
  .ready-content P{
    font-size: 16px;
    color: #627382;
    margin-top: 16px;
  }
  .ready-container .ready-button{
    text-align: center;
    margin-top: 24px;
    /* border because if i don't, it ruined by the curse */
    border: 1px solid transparent;
  }
  .ready-button p{
    color: #627382;
    margin-top: 16px;
    margin-bottom: 80px;
  }
  footer{
    background-color: #001931;
    align-items: center;
  }
  footer .main{
    display: flex;
    justify-content: space-between;
    border: 1px white;
    margin : 120px 120px 80px;
  }
  .main .ftr-img , .social{
    margin: 120px 0 0 0;
  }
 .social{
    color: #FFFFFF;
    font-size: 16px;

 }
 .social .icons{
    color: #001931;
    margin-top: 16px;
 }
  .social .icons i{
    background-color: #FFFFFF;
    height:30px;
    width: 30px;
    padding: 6px 0 0 0;
    border-radius: 50%;
    margin-right: 5px;
  }
  hr{
    width: 80%;
    margin: 0 auto;
    height: 1px;
    color: #627382;
    opacity: 0.25;
  }
  .main-p{
    text-align: center;
    color: #FFFFFF;
    font-size: 16px;
    padding: 30px 0;
  }