*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #FFFFFF;
}
header{
    display: flex;
    justify-content: space-around;
    height: 91px;
    /* border: 1px solid red; */
    align-items: center;
}
header nav a{
    margin: 0 32px;
    text-decoration: none;
    color: black;
    font-size: 16px;
    border-bottom: 2px solid transparent;
}
header nav a:hover{
    color: #30B868;
    border-bottom: 2px solid #30B868;
}
.btn{
    background-color: #30B868;
    padding: 16px 12px;
    border: none;
    color: white;
    border-radius: 4px;
    letter-spacing: .3px;
    font-weight: 500;
    direction: 0.3s ease;
}
.btn:hover{
    box-shadow: 0 0 20px seagreen;
    font-weight: bolder;
}