*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}
body{
    background-color: #FFFFFF;
}
header{
    display: flex;
    justify-content: space-around;
    height: 91px;
    /* border: 1px solid red; */
    align-items: center;
}
header nav a{
    margin: 0 32px;
    text-decoration: none;
    color: black;
    font-size: 16px;
    border-bottom: 2px solid transparent;
}
header nav a:hover{
    color: #30B868;
    border-bottom: 2px solid #30B868;
}
.btn{
    background-color: #30B868;
    padding: 16px 12px;
    border: none;
    color: white;
    border-radius: 4px;
    letter-spacing: .3px;
    font-weight: 500;
    direction: 0.3s ease;
}
.btn:hover{
    box-shadow: 0 0 20px seagreen;
    font-weight: bolder;
}
.hero{
    height: 674px;
    background-image: url(./images/hero-bg.png);
    background-position: center;
    background-size: cover;
    align-items: center;
}
.hero .hero-container{
    text-align: center;
    height: 379px;
    max-width: 1360px;
    padding: 120px 135px;
}
.hero-container h1{
    font-size: 50px;
    color: #FFFFFF;
    margin-top: 16px;
}
.hero-container span{
    color: #30B868;
}
.early-badge{
    display: inline-flex;
    align-items: center;
    padding: 5px 0px 5px 15px;
    font-size: 14px;
    font-weight: 500;
    gap: 6px;
    background-color: #FFFFFF;
    border-radius: 50px;
    font-size: 14px;
    margin-bottom: 5px;
    color: #30B868;
    width: 200px;
    margin: 0 auto;
}
 .early-badge .dot {
   width: 8px;
   height: 8px;
   background-color: #289256;
   display: inline-block;
   border-radius: 50%;
   box-shadow: 0 0 50px #289256, 0 0 25px#30B868;
}
.hero-container .hero-p{
    color: #FFFFFF;
    line-height: 24px;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    margin-top: 16px;
}
.hero-btn {
    align-items: center;
    margin-top: 36px;
    gap: 16px;
}
.hero-btn .btn2{
    background-color: transparent;
    padding: 14px 12px;
    border-radius: 4px;
    letter-spacing: .3px;
    font-weight: 500;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    margin: 16px;
}
.hero-btn .btn2:hover{
    border: 3px solid #FFFFFF;
    font-weight: 600;
    box-shadow: 0 0 8px #FFFFFF;
}
.notes{
    padding: 80px 20px;
    align-items: center;
}
.notes .notes-container{
    margin: 0 120px;
    align-items: center;
    text-align: center;
}
.notes-heading h1{
    font-size: 48px;
    color: #001931;
    margin-bottom: 16px;
}
.notes-heading p{
    font-size: 16px;
    color: #627382;
    font-family: "Inter", sans-serif;
}
.notes-container .notes-cardbox{
    display: flex;
    justify-content: space-around;
    gap: 24px;
    margin-top: 44px;
}
.notes-cardbox .card{
    align-items: center;
    border-radius: 8px;
    background-color: rgb(247, 247, 247);
    padding: 69px 24px;
}
.notes-cardbox .card:hover{
    box-shadow: 0 0 5px#F95555;
}
.card img{
    background-color: #F95555;
    height: 60px;
    width: 60px;
    padding: 18px;
    border-radius: 50%;
    margin-bottom: 16px;
}
.card h2{
    font-size: 24px;
    color: #001931;
    padding: 0 auto;
    margin-bottom: 16px;
}
.card p{
    font-size: 16px;
    color: #627382;
    padding: 0 auto;
    line-height: 20px;
}